$breakpoint-smartphone-small: 320px;
$breakpoint-smartphone-medium: 360px;
$breakpoint-smartphone-big: 420px;

$breakpoint-tablet-small: 600px;
$breakpoint-tablet-medium: 770px;
$breakpoint-tablet-big: 960px;

$breakpoint-laptop-small: 1024px;
$breakpoint-laptop-medium: 1080px;