@use "../utilities" as *;

.calculator {
    position: fixed;
    bottom: 0;
    left: 74%;
    width: 25%;
    max-width: 800px;
    border: 3px solid rgba($neutral-100, .5);
    border-bottom: none;
    border-radius: 30px 30px 0 0;
    transform: translateY(100%);
    transition: transform .7s;

    input {
        width: 100%;
        height: 100px;
        border: none;
        font-size: 4rem;
        padding: 10px 20px;
        background-color: $primary-900;
        color: $neutral-100;
        appearance: textfield;
        border-radius: 30px 30px 0 0;
    }
}

.toggle {
    position: fixed;
    right: 5.5%;
    padding: 1rem 1rem .5rem;
    background-color: $primary-500;
    color: $neutral-900;
    border-radius: 999px 999px 0 0;
    transform: translate(0, calc(-100% - 3px));
    transition: opacity .3s ease-in-out;
    font-size: 1.3rem;
    cursor: pointer;

    &:hover {
        opacity: .7;
    }
}

.numpad{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 100px);
    width: 100%;

    button {
        display: grid;
        place-items: center;
        font-size: 2rem;
        background-color: $neutral-200;
        border: 1px solid $neutral-400;
        cursor: pointer;
        user-select: none;

        &:hover{
            opacity: .85;
        }

        i {
            font-size: 1.3rem;
        }
    }

    .function{
        background-color: $neutral-300;
    }

    .equals{
        grid-column: 4/5;
        grid-row: 2/6;
        background-color: $primary-400;
        border: none;
    }
}

@media (max-width: 670px){
    .calculator{
        width: 80%;
    }

    .calculator input{
        height: 70px;
    }

    .numpad{
        grid-template-rows: repeat(5, 80px);
    }
}

@media (max-width: 375px){
    .numpad{
        grid-template-rows: repeat(5, 60px);
    }
}