@use "utilities" as *;

.App {
    min-height: 100vh;
    background-image: linear-gradient(290deg, $primary-800 20%, $primary-500 100%);
    color: $neutral-100;
}

.converter_container {
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    min-height: calc(100vh - 70px);
    padding: 1.5rem;
}

.button {
    display: block;
    margin-top: 2rem;
    padding: .5em 1em;
    background-color: $secondary-100;
    border: none;
    border-radius: 9999px;
    font-size: 1.2rem;
    cursor: pointer;

    &:hover {
        opacity: .85;
    }

    .icon {
        margin-right: .5rem;
        font-size: inherit;
    }
}